@model IQueryable<CS363Lab.Models.Store>

@{
    ViewBag.Title = "Index";
}

<h2>List of Current Stores</h2>
<p>Click a store to view their products.</p>
<ul>
@foreach (var s in Model)
{
    <li>@Html.ActionLink(s.StoreName, "Index/" + s.StoreID.ToString(), "Products")</li>
}
</ul>