@model IQueryable<CS363Lab.Models.Product>

@{
    ViewBag.Title = "Products for " + @Model.First().Store.StoreName;
}

<h2>Products for @Model.First().Store.StoreName</h2>

<ul>
@foreach (var product in Model)
{
    <li>@product.ProductName - @product.ProductDescription</li>   
}
</ul>