@{
    ViewBag.Title = "This store has no productss";
}

<h2>No Products</h2>

<p>We are sorry, this store owner has not yet added any products.  Please bookmark this page and check back often to see if they've added products.</p>
