@model CS363Lab.Models.Store

@{
    ViewBag.Title = Model.StoreName + " - Store Page";
}

<h2>Welcome to Your Store: @Model.StoreName</h2>

<h3>Here you can view/edit your products as well as your store information.</h3>
