@{
    ViewBag.Title = "About WebStore";
}

<h2>About</h2>
<p>
     WebStore is a project created by a team of student developers enrolled in the CS362 course at <a href="http://www.fullerton.edu">California State University, Fullerton</a>.  
     This project is a partial fulfillment of the requirements of this course.  Our team consists of:
</p>
<ul>
    <li>Michael Jonas</li>
    <li>Jacob Kashiwada</li>
    <li>Dominic Laico</li>
    <li>Jann Lorenz</li>
    <li>Boat Panjavongroj</li>
</ul>
